<div id="experience" style="margin-top:20px" class="card">

    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Experience

            <%if(currentUser){%>

                <%if(currentUser.username==user.username){%>
        
                    <span style="float:right; margin-right:10px; cursor:pointer;" onclick="itemPopup('experienceInput')">+</span>
        
                <%}%>

            <%}%>

        <hr>
    </h3>

    <%if(user.experience.length){%>

        <%user.experience.forEach(function(experience){%>

            <h6 style="margin-left:10px; width:300px"><img src='/icons/portfolio.png' style="width:20px;">
                
                <span style="cursor:pointer; margin-left:10px;"><%=experience.title%></span><br>
                
                <p style="margin-left:34px;" class="text-muted">
            
                    <font size=2>

                        <%if(experience.period.length!=0 && experience.organisation.length!=0){%>
                            <%if(experience.isWorked){%>
                                Worked from <%=experience.period%> | At <%=experience.organisation%>
                            <%}else{%>
                                Working from <%=experience.period%> | At <%=experience.organisation%>
                            <%}%>
                        <%}else if(experience.period.length!=0 && experience.organisation.length==0){%>
                            <%if(experience.isWorked){%>
                                Worked from <%=experience.period%>
                            <%}else{%>
                                Working from <%=experience.period%>
                            <%}%>
                        <%}else if(experience.period.length==0 && experience.organisation.length!=0){%>
                            At <%=experience.organisation%>
                        <%}%>

                        
                        <hr style="margin-left:30px;">
                    </font>
                    
                </p>
            
            </h6>

        <%})%>

    <%}else{%>
    
        <h5 style="text-align:center">No Experience Added</h5>

    <%}%>

</div>