<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <%if(user){%>
        <title><%=user.fullName%></title>
        <%}else{%>
            <title>No users found</title>
        <%}%>

    </head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/sideBar.css" rel="stylesheet">

    <link href="/socialStyle.css" rel="stylesheet">

    <link href="/index/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    
        html {
            scroll-behavior: smooth;
        }

    </style>
    
    <body>
        
        <div class="sidenav">

            <div class="text-center">

                <img style="width:100px" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%=user.profileImage%>" alt="">

                <a href="#"><font size=4>About</font></a>
                <a href="#projects"><font size=4>Projects</font></a>
                <a href="#skills"><font size=4>Skills</font></a>
                <a href="#experience"><font size=4>Experience</font></a>
                <a href="#education"><font size=4>Education</font></a>
                <a href="#awards"><font size=4>Awards</font></a>

            </div>

        </div>  

        <%if(user){%>

            <script>
            
                function showMore(id){

                    var element=document.getElementById(id);

                    if(element.style.display=="none"){
                        element.style.display="block";
                    }else{
                        element.style.display="none";
                    }

                }
            
            </script>

            <div style="margin-top:20px" class="main container">

                <div class="input-group" style="margin-bottom:20px">
                
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>

                    <input id="users_search" onkeyup="searchUsers()" onclick="itemPopup('searchInPortfolio')" class="form-control" placeholder="Search User by email, username or name">
                
                </div>

                <!-----------ABOUT-------------------------------->

                <div class="card">

                    <div style="margin-left:5px">

                        <div>

                            <h1>
                                <img id="profileImage" style="margin-top:5px; width:50px" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%=user.profileImage%>" alt="">
                                
                                <font color=#f59b42 ><%=user.fullName%></font><font color=#db5732></font>
                                
                                <span style="float:right; margin-right:10px; margin-top:-8px; cursor:pointer;" onclick="itemPopup('aboutInput')">
                                    <i class="fa fa-edit" style="font-size:24px;"></i>
                                </span> 
                            
                            </h1>
                        
                            <div style="margin-left:5px">

                                <span>
                                    <i class="fa fa-linkedin" style="font-size:34px; margin-right:20px; cursor:pointer" onclick="location.href='#'"></i>
                                </span>

                                <span>
                                    <i class="fa fa-github" style="font-size:34px; margin-right:20px; cursor:pointer" onclick="location.href='#'"></i>
                                </span>

                                <span>
                                    <i class="fa fa-twitter" style="font-size:34px; margin-right:20px; cursor:pointer" onclick="location.href='#'"></i>
                                </span>

                                <span>
                                    <i class="fa fa-facebook" style="font-size:34px; margin-right:20px; cursor:pointer" onclick="location.href='#'"></i>
                                </span>

                            </div><br>

                            <h6 style="color:rgb(68, 65, 65)">
                                <%if(user.about.length){%>
                                    <%=user.about[0].info%>
                                <%}else{%>
                                    Edi your info...
                                <%}%>
                            </h6>

                            <a style="color:black" href="mailto:rranjan01234@gmail.com"><%=user.email%></a><br><br>

                            <div id="contactDetails" style="display:none">
                                
                                <%if(user.about.length){%>
                                <i class="fa fa-linkedin" style="font-size:24px; margin-right:10px; cursor:pointer" onclick="location.href='#'"></i>
                                <a href="#"><%=user.about[0].linkedin%></a><br>
                                <%}%>

                                <%if(user.about.length){%>
                                <i class="fa fa-github" style="font-size:24px; margin-right:10px; cursor:pointer" onclick="location.href='#'"></i>
                                <a href="#"><%=user.about[0].github%></a><br>
                                <%}%>
                                
                                <%if(user.about.length){%>
                                <i class="fa fa-facebook" style="font-size:24px; margin-right:10px; cursor:pointer" onclick="location.href='#'"></i>
                                <a href="#"><%=user.about[0].facebook%></a><br>
                                <%}%>

                                <%if(user.about.length){%>
                                <i class="fa fa-twitter" style="font-size:24px; margin-right:10px; cursor:pointer" onclick="location.href='#'"></i>
                                <a href="#"><%=user.about[0].twitter%></a><br>
                                <%}%>

                                <%if(!user.about.length){%>
                                    No Contact Details available.
                                <%}%>

                            </div>

                            <div  style="cursor:pointer; margin-left:-5px" onclick="showMore('contactDetails')" class="text-center card-footer text-muted">
                                Contact Details
                            </div>

                        </div>

                    </div>

                </div>

                <!------------------------------------------------>


                <!-----------PROJECTS----------------------------->

                <div id="projects" style="margin-top:20px" class="card">

                    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Projects <span style="float:right; margin-right:10px; cursor:pointer;" onclick="itemPopup('projectInput')">+</span> <hr></h3>
                    
                    <div class="card-deck">

                        <%if(user.projects.length){%>
                            
                            <%user.projects.forEach(function(project){%>

                                <div  style="margin-top:20px; width:350px;" class="container">

                                    <div style="margin-bottom:20px" class="card text-center">
                                    
                                        <div class="card-header">
                                            <%=project.briefTitle%>
                                        </div>
                                        
                                        <div class="card-body scroll">
                                            <p class="card-text"><%=project.briefDesc%></p>
                                            <a href="#" class="btn btn-primary">Details</a>
                                        </div>
                                        
                                        <div class="card-footer text-muted">
                                                <%=project.techUsed%>
                                        </div>
            
                                    </div>

                                </div>

                            <%});%>

                        <%}%>
                        
                    </div>

                    <%if(!user.projects.length){%>

                        <h5 style="text-align:center">No Projects Added</h5>

                    <%}%>

                </div>

                <!------------------------------------------------->

                <!--------------SKILLS----------------------------->

                <div id="skills" style="margin-top:20px" class="card">

                    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Skills <span style="float:right; margin-right:10px; cursor:pointer;" onclick="">+</span> <hr></h3>

                    <h5 style="text-align:center">No Skills Added</h5>

                </div>

                <!------------------------------------------------->

                <!--------------EXPERIENCE----------------------------->

                <div id="experience" style="margin-top:20px" class="card">

                    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Experience <span style="float:right; margin-right:10px; cursor:pointer;" onclick="">+</span> <hr></h3>

                    <h5 style="text-align:center">No Experience Added</h5>

                </div>

                <!------------------------------------------------->

                <!---------------EDUCATION---------------------------->

                <div id="education" style="margin-top:20px" class="card">

                    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Education <span style="float:right; margin-right:10px; cursor:pointer;" onclick="">+</span> <hr></h3>

                    <h5 style="text-align:center">No Education Added</h5>

                </div>

                <!------------------------------------------------->

                <!--------------AWARDS----------------------------->

                <div id="awards" style="margin-top:20px" class="card">

                    <h3 style="margin-left:5px; margin-top:5px; color:#c95024">Awards <span style="float:right; margin-right:10px; cursor:pointer;" onclick="">+</span> <hr></h3>

                    <h5 style="text-align:center">No Awards Added</h5>

                </div>

                <!------------------------------------------------->

                <%include ./addMore/projects.ejs%>
                <%include ./addMore/about.ejs%>
                <%include ./searchInPortfolio.ejs%>
            </div>

        <%}else{%>

            <div style="margin-top:20px" class="main text-center">
                <h1>No users found in the Database</h1>
            </div>

        <%}%>

        

    </body>

</html>